<h1>Stupid Coaching</h1>



<div class="question">
  <h3> -You</h3>
  <h2><%= @question %></h2>
</div>



<div class="answer">
  <h3> -Your coach</h3>
  <h2><%= @answer %> </h2>
</div>



<a href="ask">Ask a new question</a>
