<div class="container-question jumbotron">

<h1>Stupid Coaching</h1>
<p>Ask your coach anything</p>

<hr>

<form action="answer">
  <div class="form-group">
    <input type="text" class="form-control" name="question" placeholder="Enter your question">
    <input type="submit" class="btn btn-success"></input>
  </div>
</form>


</div>
